img {
    width: 300px;
    margin-top: 3rem;
}

.hero_boton{
    background: rgb(37, 37, 37);
    margin: 100;
    padding: 10px;
    width: 30px;
    color: white;
    border-radius: 15px;
    border: 2px solid gold;
    text-decoration: none;
}

body{
    background-color: black;
}
    


.logo{
    width: 150px;
}

a[href="#tienda"]{
    color: rgba(255, 255, 255, 0.397);
}

h1 {
    width: 400px;
    height: 100px;
    padding: 5px 10px;
    color: rgb(80, 10, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}